body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

main article {
  width: 100px;
  height: 200px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
}
